.scrollable-component {
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollable-component::-webkit-scrollbar {
     width: 0 !important ;
     background: transparent !important;
    }